<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Foreign Methods!</title>
  <meta name="description" content="WDF-000">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="Graduation!">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="Farewell">
	<meta property="og:description" content="Graduation">


  <!-- <script src="js/modernizr-2.7.1.js"></script> -->

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/entries/new" class="scroll">Add a Message</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <!-- <img class="img-round left" src="/assets/ian-candy.jpg" alt="Ian Candy"></a> -->
          </div>
          <div class="col-xs-6 signin text-right navbar-nav">
            <a href="/entries/new" class="scroll">Add a Message</a>
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
          <h2 id="name"> </h2>
          <div class="col-sm-10 col-sm-offset-1 text-center" id="content">
            <h3 class="wow fadeIn italic" id="welcome">Graduation </h3>
            <br />
            <h4 id="content">  </h4>


            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row">
                  <div class="col-xs-12 wow fadeInUp" data-wow-delay="1s">
                    <br>
                    <a href="/entries/show" id="getEntry" class="btn btn-secondary btn-lg scroll">Press Me</a>
                  </div>
                </div><!--End Button Row-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>




    <footer>
      <div class="container">

        <div class="row">
          <div class="col-sm-12 text-center">
            <p>Made with <i class="fa fa-heart fa-lg" style="color: red;"></i> at the Flatiron School </p>
          </div>
        </div>

      </div>
    </footer>



    </body>
</html>
