<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Foreign Methods!</title>
  <meta name="description" content="WDF-000">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="Graduation!">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="Farewell">
	<meta property="og:description" content="Graduation">


  <!-- <script src="js/modernizr-2.7.1.js"></script> -->

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
        <%= link_to "login", 'auth/learn' %>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/entries/new" class="scroll">Add a Message</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

  


    <footer>
      <div class="container">

        <div class="row">
          <div class="col-sm-12 text-center">
            <p>Made with <i class="fa fa-heart fa-lg" style="color: red;"></i> at the Flatiron School </p>
          </div>
        </div>

      </div>
    </footer>



    </body>
</html>
