<div id="background-image">
   <div class="container">
       <div class="panel-transparent">
         <div class="row col-xs-8 well well-sm">
           <form action="/entries" method="post" class="form-horizontal margin-top margin-80">
             <div class="form-group">
               <label for="name" class="col-sm-3 control-label">My name is...</label>
               <div class="col-sm-9">
                 <input type="text" class="form-control" name="name" placeholder="Adele Goldstine">
               </div>
             </div>
             <div class="form-group">
               <label for="content" class="col-sm-3 control-label" name="content" style="color: black;">My favorite memory of Ian is...</label>
               <div class="col-sm-9">
                 <input type="text" class="form-control" name="content" placeholder="Every feelings Friday.">
               </div>
             </div>

             <div class="form-group">
               <div class="col-sm-offset-3 col-sm-4">
                 <button type="submit" class="btn btn-default">Submit!</button>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
 </div>
